* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #eee;
	font-family:Monospace;
	font-size:13px;
	text-align:center;

	background-color: #000;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}



/* 时间帧控制 */
#frame_control {
	position: fixed;
	bottom: 0px;
	width: 100%;
	height: 30px;
}
#frame_control .timeline {
	position: absolute;
	left: 25%;
	width: 50%;
	height: 10px;
	background-color: #000;
}
#frame_control .timeline .slider {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: #f90;
}


/* 调色板 */
#palette {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 200px;
	background-color: #fff;
}





















